.slide-left {
    animation: slideLeft 0.45s ease forwards;
}

.slide-right {
    animation: slideRight 0.45s ease forwards;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        margin-left: 40px; 
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        margin-left: 0px;
        filter: blur(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        margin-left: -40px;
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        margin-left: 0px;
        filter: blur(0);
    }
}

.item[data-level="0"] {
    opacity: 1;
    filter: blur(0);
    z-index: 30;
}

.item[data-level="1"],
.item[data-level="-1"] {
    opacity: 0.7;
    filter: blur(2.5px);
    z-index: 20;
}

.item[data-level="2"],
.item[data-level="-2"] {
    opacity: 0.4;
    filter: blur(4px);
    z-index: 10;
}
