.item[data-level="0"] {
    opacity: 1;
    filter: blur(0);
    z-index: 30;
}

.item {
    will-change: transform, opacity, filter;
    transition:
        transform 0.75s cubic-bezier(.25,.8,.25,1),
        opacity 0.75s ease,
        filter 0.75s ease;
}


.item[data-level="1"],
.item[data-level="-1"] {
    opacity: 0.7;
    filter: blur(2.5px);
    z-index: 20;
}

.item[data-level="2"],
.item[data-level="-2"] {
    opacity: 0.4;
    filter: blur(4px);
    z-index: 10;
}

