@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&family=Peddana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Ephesis&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&family=Peddana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Archivo:ital,wght@0,100..900;1,100..900&family=Ephesis&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&family=Peddana&display=swap');

@import "tailwindcss";

.text-gradient {
    background-image: linear-gradient(to top, #436FFF, #284399); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradient {
    background: linear-gradient(135deg, #00165E, #1B43D6);
}

